@use "../../utils/main" as utils;
@use "../../utils/fonts" as fonts;
@use "../../utils/sizes" as sizes;
@use "../../atoms/buttons" as button; 

// ***************** DISHES *****************
.container--dishes-bigtitle {
    font-family: fonts.$font-cursive;
    font-size: sizes.$logo;
}

.container--category-fonts {
    font-family: fonts.$font-serif;
    font-size: sizes.$h2;
}

.container--categorie-firstletter::first-letter {
    font-family: fonts.$font-cursive;
    font-size: sizes.$logo;
}

.container--dishes-title {
    font-family: fonts.$font-serif;
    font-size: sizes.$title-dishe;
}

.container--dishes-description {
    font-family: fonts.$font-serif;
    font-size: sizes.$paragraphe;
}

.container--card-hover:hover {
    transition: .8s cubic-bezier(.5, 0, 0, 1); 
    transform: scale(1.1);
}

// ***************** DISHES *****************