@use "../../utils/main" as utils;
@use "../../utils/fonts" as fonts;
@use "../../utils/sizes" as sizes;
@use "../../atoms/buttons" as button; 

// ***************** DISHES *****************
.title-fonts{
    font-family: fonts.$font-cursive;
    font-size: sizes.$logo;
}

.category-title_fonts{
    font-family: fonts.$font-serif;
    font-size: sizes.$h2;
}

.category-title_letter::first-letter {
    font-family: fonts.$font-cursive;
    font-size: sizes.$logo;
}

.dishes-title_font{
    font-family: fonts.$font-serif;
    font-size: sizes.$title-dishe;
}

.dishes-desc_font{
    font-family: fonts.$font-serif;
    font-size: sizes.$paragraphe;
}

// ***************** DISHES *****************