@use "../../utils/main" as utils;
@use "../../utils/fonts" as fonts;
@use "../../utils/sizes" as sizes;
@use "../../atoms/buttons" as button; 

.login--btn-style {
    @extend .button-log;
}

.container--form-fonts {
    font-family: fonts.$font-serif; 
}

.container--form-success {
    font-family: fonts.$font-serif;
}

.is-connected {
    font-size: sizes.$title;
    font-family: fonts.$font-serif;
}

.container--form-allergy {
    font-family: fonts.$font-serif;
    font-size: sizes.$mq-nav11;
}