<div class="container-fluid g-0">
<img class="w-100" src="{{ asset('build/images/fondu-top-02.png') }}" alt="fondu savoyarde">
</div>
<section>

<div class="home-cover_paragraphe mt-5 text-center text-primary mb-4">
    <p>Venez vivre une expérience gastronimique unique à travers une cuisine sans artifice</p>  
</div>
</div>
</section>
<section >
    <div class="container border-top py-5 g-0 ">
        <div class="row align-items-center">
        <div class="col-xl-2 col-md-1 col-lg-1 d-sm-none d-md-block"></div>
            <div class="col-xl-4 col-md-5 col-lg-6 col-sm-6 g-0 d-flex flex-column justify-content-center mb-3">
            <img class="w-100" src="{{ asset('build/images/restaurant-salle-01.png') }}" alt="salle restaurant">
            </div>
            <div class="col-xl-1 col-md-1 col-sm-1"></div>
                <div class="col col-xl-3 col-md-4 col-lg-3 col-sm-5 header-cover_text text-center text-primary">
                <p>Situé au cœur de Chambéry,</p> 
                
                <p>
                le <strong>Quai Antique</strong> est le troisième restaurant du Chef <strong> Arnaud Michant.</strong>
                </p>
                
                <p>Ce lieu est un espace qui reflète une cuisine inspirée de la Savoie.</p>
                
                <p>
                Le charme et l’authenticité des produits de la région apportent une chaleur et un retour à 
                l’enfance qui vous feront revivre des sensations et des émotions enfouies en chacun de nous.
                </p>
                
                
                <p>Voyageons ensemble pour atteindre les étoiles</p>
                </div>
            <div class="col-xl-2 col-md-1 col-lg-2 d-sm-none d-md-block1"></div>
            </div>
        </div>
    </div>
</section>