{% extends 'base.html.twig' %}

{% block title %}Nos menus - Quai Antique{% endblock %}

{% block body %}
<section>
    <div class="border-bottom"></div>
    <div class="row g-sm-0 g-0">
        <div class="col-xl col-lg col-md "></div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 mt-5 py-5 text-back_style text-back_size text-primary">page précédente - <span class="text-back_home text-secondary">La carte</span></div> 
        <div class="col py-4">
            <a href="{{path('app_alacarte')}}" >
            <svg xmlns="http://www.w3.org/2000/svg" width="94" height="94" fill="currentColor" class="bi bi-chevron-left dishe-title_icon" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>
            </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"><div class="text-center mt-5 mb-3 dishe-title pe-xl-5 pe-sm-1 col-title_mq text-primary">Nos menus</div></div>
        <div class="col col-xl col-lg col-md col-sm  py-4">
        
            <svg xmlns="http://www.w3.org/2000/svg" width="94" height="94" fill="currentColor" class="bi bi-chevron-right dishe-title_icon text-light" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
        
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col mt-5 py-5"></div> 
        <div class="col-xl col-lg col-md col"></div>
    </div>
    <div class="row mb-5">
        <div class="col"></div>
        <div class="col-xl-10 border-bottom"></div>
        <div class="col"></div>
    </div>
<!-- ================== Start Menu Dégustation Alpine ========================-->  
          
            <div class="row mb-2 text-primary">
                <div class="col"></div>
                <div class="col-xl-4 col-md-4 ms-sm-5 ms-5"><h3 class ="dishes-fonts">Dégustation Alpine</h3></div>
                <div class="col-xl-6 col-md-6"></div>
            </div>
            <div class="row mb-1 dishes">
                <div class="col"></div>
                <div class="col-xl-5 col-md-5 col-sm-5 col-5 fw-bold text-primary">Formule du midi</div>
                <div class="col"></div>
                <div class="col"></div>
            </div> 
            <div class="row dishes mb-3">
                <div class="col"></div>
                <div class="col-xl-5 col-md-5 col-sm-5 col-5 text-primary">- Plat + Dessert</div>
                <div class="col dishes_price">38€</div>
                <div class="col"></div>
<!-- ================== END Menu Dégustation Alpine ========================-->  

            <div class="row mt-5 mb-5">
                <div class="col"></div>
                <div class="col-xl-10 border-bottom"></div>
                <div class="col"></div>
            </div> 

<!-- ================== START Menu Préstige savoyard ========================-->  
            <div class="row mb-2 text-primary">
                <div class="col"></div>
                <div class="col-xl-4 col-md-4 ms-sm-5 ms-5"><h3 class ="dishes-fonts">Préstige savoyard</h3></div>
                <div class="col-xl-6 col-md-6"></div>
            </div>
            <div class="row mb-1 dishes">
                <div class="col"></div>
                <div class="col-xl-5 col-md-5 col-sm-5 col-5 fw-bold text-primary">Formule du soir</div>
                <div class="col"></div>
                <div class="col"></div>
            </div> 
            <div class="row dishes mb-5 ">
                <div class="col"></div>
                <div class="col-xl-5 col-md-5 col-sm-5 col-5 text-primary">- Entrée + Plat + Dessert</div>
                <div class="col dishes_price">65€</div>
                <div class="col"></div>
<!-- ================== END Menu Préstige savoyard ========================-->  

<div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9"></div>
            <div class="col me-sm-4 me-2">
                <a href="{{path('app_nosmenus')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-up dishe-title_icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
                <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>
                </a>
            </div>
        </div>
</section>
{% endblock %}
