@use "../utils/main" as utils;
@use "../utils/fonts" as fonts;
@use "../utils/sizes" as sizes;
@use "../atoms/buttons" as button;


.header-navbar_logo {
    @include utils.flex;
    line-height: sizes.$line;
    background-color: #5b441f;  
    color: #DDB46A;
    font-family: fonts.$font-cursive;
    font-size: sizes.$logo;
    }

.header-navbar_menus {
        color: #5b441f;   
    }

.header-navbar_list {
    font-family: fonts.$font-serif;
}

.header-navbar_hover {
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0%;
        height: 1px;
        background: #5b441f;  
        transition: width 0.2s ease-in-out;
    }
            &:hover::after {
                width: 5.8%;
            }
}

.btn_design{
    @extend .button;
}
