@use "../utils/main" as utils;
@use "../utils/fonts" as fonts;
@use "../utils/sizes" as sizes;
@use "../atoms/buttons" as button;

// BEM :
// Block (header, container, menu, ..),
// Element (menu item, list item, input, ...), 
// Modifier (checked, disabled, size big, ...)

// ************** NAVBAR ********************* 
.header--menu-logo {
    @include utils.flex;
    line-height: sizes.$line;
    background-color: #5b441f;  
    color: #DDB46A;
    font-family: fonts.$font-cursive;
    font-size: sizes.$logo;
}

.header--menu-warning {
    font-family: fonts.$font-serif;
    font-size: sizes.$mq-nav11;
    background-color: #dc3545;
}

.header--menu-name {
    font-family: fonts.$font-serif;
    font-size: sizes.$mq-nav16;
    background-color: #5b441f;
}

.header--menu-background {
    color: #5b441f;   
}

.header--menu-font {
    font-family: fonts.$font-serif;
}

.header--menu-hover {
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0%;
        height: 1px;
        background: #DDB46A;  
        transition: width 0.2s ease-in-out;
    }
    &:hover::after {
        width: 5.8%;
    }
}

.header--menu-btn {
    @extend .button;
}

.header--btn-booking {
    @extend .button-reservation;
}
// ************** NAVBAR ********************* 

// ************** COVER ********************** 
.container--cover-paragraphe {
    font-family: fonts.$font-serif;
    font-size: sizes.$paragraphe;
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
}

.container--cover-text {
    font-family: fonts.$font-serif;
    font-size: sizes.$paragraphe;
}
// ************** COVER ********************* 

// ************** PREVIEW-GALLERIES ********************* 
.container--preview-text {
    font-size: sizes.$h2;
    font-family: fonts.$font-serif;
}

.container--foot-text {
    font-size: sizes.$mq-nav11;
    font-family: fonts.$font-serif;
}

.container--foot-back {
    font-family: fonts.$font-cursive;
    font-size: sizes.$paragraphe;
}
// ************** PREVIEW-GALLERIES ********************* 

// ************** FOOTER ********************* 
.footer--menu-logo {   
    font-family: fonts.$font-cursive;
    font-size: sizes.$logo;
}

.footer--menu-list {
    font-family: fonts.$font-serif;
}
// ************** FOOTER ********************* 

// Javascript Animation
.reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: .8s cubic-bezier(.5, 0, 0, 1);
}
