$logo: 3.5rem; //56pex
$mini-logo: 2.5rem; //40px
$mini-logo2: 2.25rem; //36px
$mini-logo3: 1.875rem;//30px
$title: 1.5rem; //24pex
$h2: 1.8rem; //28px
$paragraphe: 1.1rem; //18pex
$mq-nav16: 1rem; //16pex
$mq-nav14: 0.875rem; //14pex
$mq-nav13: 0.813rem; //13pex
$mq-nav11: 0.688rem; //11pex
$line: normal; 