{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display">Administration</h1>
        <p class="lead">Bienvenue dans l'interface d'administration du Quai Antique</p>
    </div>
{% endblock %}