@use "../../utils/main" as utils;
@use "../../utils/fonts" as fonts;
@use "../../utils/sizes" as sizes;
@use "../../atoms/buttons" as button; 

.container--preview-title {
    font-family: fonts.$font-serif;
    font-size: sizes.$h2;
}

.container--card-title {
    font-family: fonts.$font-serif;
    font-size: sizes.$title-dishe; 
}

.container---card-text {
    font-family: fonts.$font-serif;
}

.container--card-description, .card-text_title {
    font-family: fonts.$font-serif;
    font-size: sizes.$paragraphe;
    cursor: default;
    opacity: 0;
    background-color: rgba($color: #2d2d2d, $alpha: 0.9);
    overflow: hidden;
    &:hover {
        height: 130px;
        width: 100%;
        border-radius: 0;
        transition: 0.5s;
        opacity: 1;
        }
}
