@use "../../utils/main" as utils;
@use "../../utils/fonts" as fonts;
@use "../../utils/sizes" as sizes;
@use "../../atoms/buttons" as button; 

.container-gal_title {
    font-size: sizes.$h2;
    font-family: fonts.$font-serif;
}

.title-gallery_style {
    font-family: fonts.$font-serif;
    font-size: sizes.$h2;
}

.title-card_size{
    font-family: fonts.$font-serif;
    font-size: sizes.$title-dishe;
}

.span-gal_letter {
    font-family: fonts.$font-cursive;
    font-size: sizes.$logo;
} 

.container-gal_text {
    font-family: fonts.$font-serif;
    font-family: sizes.$h2;
}

.card-text_descr, .card-text_title {
    font-family: fonts.$font-serif;
    font-size: sizes.$paragraphe;
    cursor: default;
    opacity: 0;
    background-color: rgba($color: #2d2d2d, $alpha: 0.9);
    overflow: hidden;
    &:hover {
        height: 130px;
        width: 100%;
        border-radius: 0;
        transition: 0.5s;
        opacity: 1;
        }
}
