@use "../../utils/main" as utils;
@use "../../utils/fonts" as fonts;
@use "../../utils/sizes" as sizes;
@use "../../atoms/buttons" as button; 

.container-gal_title {
    font-size: sizes.$h2;
    font-family: fonts.$font-serif;
}

.title-gallery_style {
    font-family: fonts.$font-serif;
    font-size: sizes.$h2;
}

// Zoom in gallery section
.container-pics_hidd {
    overflow: hidden;
    transition: transform .1s;
}

.col-pics_zoom {
    width: 100%; 
    &:hover {
        transform: scale(1.2);
        transition: 1s;
    }
}
// Zoom in gallery section

.span-gal_letter {
    font-family: fonts.$font-cursive;
    font-size: sizes.$logo;
} 

.container-gal_text {
    font-family: fonts.$font-serif;
    font-family: sizes.$h2;
}

.col-gal_title { 
    position: absolute;
    font-family: fonts.$font-serif;
    font-size: sizes.$paragraphe;
    opacity: 0;
}

// ======= ZOOM ======

.col-img_zoom {
    overflow: hidden;
    transition: transform .1s;
}

 
.img-w {
    width: 100%; 
    &:hover {
        opacity: 0.50;
        transform: scale(1.2);
        transition: 1s;
        filter: blur(1px);
            & ~.col-gal_title {
                opacity: 1;
            }
    }
}

// ======= ZOOM ======