@use "../../utils/main" as utils;
@use "../../utils/fonts" as fonts;
@use "../../utils/sizes" as sizes;
@use "../../atoms/buttons" as button; 

.container-wine_title {
    font-size: sizes.$h2;
    font-family: fonts.$font-serif;
}

.span-wine_letter {
    font-family: fonts.$font-cursive;
    font-size: sizes.$logo; 
}

.container-wine_text {
    font-size: sizes.$paragraphe;
    font-family: fonts.$font-serif;
}

.wine_text {
    display: flex;
    flex-direction: column;
}
.container-wine_btn {
    display: flex;
    flex-direction: row;
}

.btn_design-carte {
    @extend .button-carte;
}