@use "../utils/main" as utils;
@use "../utils/fonts" as fonts;
@use "../utils/sizes" as sizes;

//button navbar :
.button {
    @include utils.flex-btn;
    width: 140px;
    height: 40px;
    border-radius: 0;
    font-weight: bold;
    font-family: fonts.$font-serif;
    background-color: #5b441f;; //primary
    color: #DDB46A; //secondary
        &:hover {
            background-color: #5b441f;;
            color: #edd19f;
            transition: 0.2s all ease-in-out;
            transform: scale(1.05);
        }
}

//button carte :
.button-carte {
    width: 200px; 
    height: 150px; 
    border-radius: 0;
    font-weight: bold;
    font-family: fonts.$font-cursive;
    font-size: sizes.$title;
    background-color: #DDB46A;
    color: #5b441f;;
    &:hover {
        color: #5b441f;;
        background-color: #edd19f;
        transition: 0.2s all ease-in-out;
        transform: scale(1.05);
        cursor: pointer;
    }
}

.button-empty-carte {
    width: 200px; 
    height: 150px; 
    border-radius: 0;
}

//button for login
.button-log {
    height: 34px;
    border-radius: 0;
    border-color: #5b441f;
    font-weight: bold;
    font-family: fonts.$font-serif;
    background-color: #5b441f;; //primary
    color: #DDB46A; //secondary
    &:hover {
        background-color: #5b441f;;
        color: #edd19f;
        transition: 0.2s all ease-in-out;
        transform: scale(1.03);
    }
}

//button for logout
.button-logout {
    height: 34px;
    line-height: normal;
    border-radius: 0;
    border-color: #5b441f;
    font-weight: bold;
    font-family: fonts.$font-serif;
    background-color: #5b441f;; //primary
    color: #DDB46A; //secondary
    &:hover {
        background-color: #5b441f;;
        color: #edd19f;
        transition: 0.2s all ease-in-out;
        transform: scale(1.03);
    }
}

