@use "../utils/main" as utils;
@use "../utils/fonts" as fonts;
@use "../utils/sizes" as sizes;

//button navbar 
.button {
    @include utils.flex-btn; 
    width: 140px;
    height: 40px;
    border-radius: 0;
    font-weight: bold;
    font-family: fonts.$font-serif;
    background-color: #5b441f;; //primary
    color: #DDB46A; //secondary
        &:hover {
            background-color: #5b441f;;
            color: #edd19f;
            transition: 0.2s all ease-in-out;
            transform: scale(1.05);
        }
}

//button booking
.button-reservation {
    @include utils.flex-btn;
    width: 140px;
    height: 40px;
    border-radius: 0;
    border-style:double;
    border-color: #5b441f;
    font-weight: bold;
    font-family: fonts.$font-serif;    
    color: #5b441f;; //primary
    background-color: #DDB46A; //secondary
        &:hover {
            color: #5b441f;;
            background-color: #edd19f;
            transition: 0.2s all ease-in-out;
            transform: scale(1.05);
        }
}

//button for login
.button-log {
    height: 34px;
    border-radius: 0;
    border-color: #5b441f;
    font-weight: bold;
    font-family: fonts.$font-serif;
    background-color: #5b441f;; //primary
    color: #DDB46A; //secondary
    &:hover {
        background-color: #5b441f;;
        color: #edd19f;
        transition: 0.2s all ease-in-out;
        transform: scale(1.03);
    }
}
