@use "scss/base/reset";
@use "scss/components/home.scss";
@use "scss/components/dishes/dishes.scss";
@use "scss/components/dishes/alacarte/alacarte.scss";
@use "scss/components/dishes/nosmenus/nosmenus.scss";
@use "scss/components/dishes/lesformules/lesformules.scss";
@use "scss/components/wines/wines.scss";


//Import color's Bootstrap
$brown: #5b441f; 
$orange:#DDB46A;
$green: #4C8A42;
$red:#dc3545;
$blank:#F2F2F2;
$black:#000;


$primary:       $brown;
$secondary:     $orange;
$success:       $green;
$danger:        $red;
$light:         $blank; 
$dark:          $black;

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
