@use "../../../utils/main" as utils;
@use "../../../utils/fonts" as fonts;
@use "../../../utils/sizes" as sizes;
@use "../../../atoms/buttons" as button;

.dishe-title {
    font-family: fonts.$font-cursive; 
    font-size: sizes.$logo;  
}

.dishe-title_icon {
    @include utils.icon;
}

@media (max-width: 576px){
    .dishe-title {
        font-size: sizes.$mini-logo2; 
    }
}

//637 - 577
@media (min-width: 577px) and (max-width: 637px) { 
    .col-title_mq {
        font-size: sizes.$mini-logo;  
    }
}
@media (min-width: 638px) and (max-width: 688px) { 
    .col-title_mq {
        font-size: sizes.$mini-logo;  
    }
}

.dishes-fonts {
    font-family: fonts.$font-serif;
}

.dishes-letter_fonts {
    font-family: fonts.$font-cursive;
    font-size: sizes.$logo; 
}
