{% extends 'base.html.twig' %}

{% block title %}Le Chef - Quai Antique{% endblock %}

{% block body %}
<section>
    <div class="container border-top py-5 g-0">
    <h2 class="container-chef_title mb-3 text-primary"><span class="span-gal_letter">L</span>e Chef</h2>
        <div class="row align-items-md-center"> 
            <div class="col-12 col-md-6">
                <img class="w-100" src="{{ asset('build/images/chef-cuisinier-01.png') }}" alt="chef Arnaud Michant">
            </div>
            <div class="col-12 col-md-6 px-5 py-3 text-center col-chef_text text-primary">
            Passionné par les produits et producteurs de la Savoie. Le Chef <strong> Arnaud Michant</strong> décide de continuer l’aventure en ouvrant son troisième restaurant à Chambéry.
            <br>
            <br>
            <i>« Que diriez-vous d’escalader les montagnes avec moi ? Pour me suivre venez avec vos couteaux et les connaissances de notre art ! »</i>
            <br>
            <br>
            Voilà ce que le Chef à dit pour une partie de sa brigade déjà bien installé entre Paris et Nice. Le pari est de hauteur et pointu. Grâce au talent qu’on lui reconnait, le Chef Michant ne cesse de surprendre la région avec une expérience culinaire à travers un voyage gastronomique de sensations et d’émotions.
            <br>
            <br>
            Installé à Chambéry depuis l’hivers 2021. Le <strong> Quai Antique</strong> ne faillira jamais devant les promesses du Chef et sa brigade.
            </div> 
        </div>
    </div>
        <div class="container text-center">
        <div class="row">
            <div class="col">
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-left dishe-title_icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>
                </a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
            <a href="{{path('app_chef')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-up dishe-title_icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
                <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>
                </a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col ">
                <a href="{{ path('app_brigades')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-right dishe-title_icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col text-back_style text-primary">Pour revenir à la page d'accueil, cliquez sur le logo en pied ou en haut de page du <span class="text-back_home text-secondary">Quai Antique<span></div>
    </div>
</section>

{% endblock %}
